body.index {
  #subheader {
    border-top: 1px solid $c-border;
    background-size: cover;

    .container {
      display: flex;
      flex-direction: column;
    }

    h1.huge-title {
      margin-top: em(10);
      border: 0;
      font-size: em(40);
      word-spacing: em(20);
      color: white;
      font-family: 'Overpass', sans-serif;
    }

    .subtitle {
      color: #fff;
    }

    ul.sections {
      @extend %ul-inline;
      display: flex;
      flex-direction: column;
      margin-bottom: em(40);

      li {
        width: 100%;

        a {
          @include transition (all 0.3s ease-in);
          color: white;
          display: flex;
          align-items: center;


          h1 {
            font-size: em(20);
            color: white;
          }

          i {
            font-size: 215px;
            display: block;
            margin-bottom: em(5);
            color: white;

            &, &:before {
              font-family: 'icomoon' !important;
              opacity: 1;
            }

            &:hover {
              color: darken($c-blue, 10);
            }
          }
        }
      }
    }
  }

  #content, #main-footer {
    margin: 0;
    padding: 0;
  }
}

.content-bg.api {
  background-image: url(../../images/api-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
