<footer id="colophon" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-sm-6 col-lg-3">
        <section id="nav_menu-2" class="widget widget_nav_menu"><div class="menu-footer-custom-container">
          <ul id="menu-footer-custom" class="menu">
            <li id="menu-item-44" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-44">
              <a href="#">Privacy Policy</a>
            </li>
            <li id="menu-item-45" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-45">
              <a href="#">Terms of Service</a>
            </li>
            <li id="menu-item-46" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-46">
              <a href="#">Storefront</a>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-6 col-lg-5">
      <section id="nav_menu-3" class="widget widget_nav_menu">
        <h2 class="widget-title">RESOURCES</h2><div class="menu-footer-resources-container">
          <ul id="menu-footer-resources" class="menu">
            <li id="menu-item-47" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-47">
              <a href="#">Case Studies and White Papers</a>
            </li>
            <li id="menu-item-48" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48">
              <a href="#">Blog</a>
            </li>
            <li id="menu-item-49" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-49">
              <a href="#">Partners</a>
            </li>
          </ul>
        </div>
      </section>
      <section id="nav_menu-4" class="widget widget_nav_menu">
        <h2 class="widget-title">DOCUMENTATION</h2>
        <div class="menu-footer-documentation-container">
          <ul id="menu-footer-documentation" class="menu">
            <li id="menu-item-50" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50">
              <a href="#">Storefront</a>
            </li>
          </ul>
        </div>
      </section>
      <section id="nav_menu-5" class="widget widget_nav_menu">
        <h2 class="widget-title">COMPANY</h2>
        <div class="menu-footer-company-container">
          <ul id="menu-footer-company" class="menu">
            <li id="menu-item-51" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-51">
              <a href="#">About</a>
            </li>
            <li id="menu-item-52" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-52">
              <a href="#">Events and News</a>
            </li>
            <li id="menu-item-53" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-53">
              <a href="#">Careers</a>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-12 col-lg-4">
      <section id="custom_html-2" class="widget_text widget widget_custom_html">
        <div class="textwidget custom-html-widget">
          <form class="footer__form">
            <p class="footer__form__text">Get updates from Spree</p>
            <label for="footerNewsletter">email</label>
            <input id="footerNewsletter" type="text">
            <button>sign up</button>
          </form>
        </div>
      </section>
      <section id="spree-social-media-5" class="widget spree-social-media">
        <div class="social__container__media">
          <div class="social__container__media__icon github">
            <a href="#">
              <svg role="img" class="social-github" aria-labelledby="social-github"><title id="social-github">github</title><use xlink:href="#social-github"></use></svg></a></div><div class="social__container__media__icon slack"><a href="#"><svg role="img" class="social-slack" aria-labelledby="social-slack"><title id="social-slack">slack</title><use xlink:href="#social-slack"></use></svg>
            </a>
          </div>
          <div class="social__container__media__icon twitter">
            <a href="#">
              <svg role="img" class="social-twitter" aria-labelledby="social-twitter"><title id="social-twitter">Twitter</title><use xlink:href="#social-twitter"></use></svg></a></div><div class="social__container__media__icon linkedin"><a href="#"><svg role="img" class="social-linkedin" aria-labelledby="social-linkedin"><title id="social-linkedin">Linkedin</title><use xlink:href="#social-linkedin"></use></svg></a></div><div class="social__container__media__icon email"><a href="#"><svg role="img" class="social-email" aria-labelledby="social-email"><title id="social-email">Email</title><use xlink:href="#social-email"></use></svg>
            </a>
          </div>
        </div>
      </section>
    </div>
    </div>
  </div><!-- .container -->
</footer>
<%= render '_google_analytics' %>
<%= render '_algolia' %>
