<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if IE 9]>    <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" > <!--<![endif]-->
<head>
  <title><%= @item[:title] %> | Spree - Ruby on Rails e-commerce platform</title>

  <%= render '_head' %>

</head>
<body class="index">

  <% if ENV['EDGE_GUIDES'] == 'true' %>
    <div>
      <img src="images/edge_badge.png" alt="edge-badge" id="edge-badge" />
    </div>
  <% end %>

  <header id="header">
    <%= render '_header_top' %>
    <div id="top-header">
      <div class="container">
        <div class="row">
          <%= render '_logo' %>
          <%= render '_search' %>
          <%= render '_main_menu_home' %>
        </div>
      </div>
    </div>

    <div class="breadcrumbs">
      <div class="container">
        <ul>
          <li><a href="/">Spree</a></li>
          <li><a href="#">Guides</a></li>
        </ul>
      </div>
    </div>

    <div id="subheader">
      <div class="container">

          <div class="column">
            <h1 class="huge-title">Guides</h1>
            <p class="subtitle">Spree Commerce is a complete modular API-driven
            open-source e-commerce solution built with Ruby on
            Rails. Guides are hosted and maintained by Spark
            Solutions.</p>
          </div>

          <ul class="sections">
            <li class="section">
              <a href="/api/">
                <img src="/images/api.svg" alt="">
                <p class="section-title">API</p>
              </a>
            </li>
            <li class="section">
              <a href="/developer/">
                <i class="icon-developer"></i>
                <p class="section-title">Developer</p>
              </a>
            </li>
            <li class="section">
              <a href="/user/">
                <i class="icon-user"></i>
                <p class="section-title">User</p>
              </a>
            </li>
            <li class="section">
              <a href="/release_notes/">
                <i class="icon-release-notes"></i>
                <p class="section-title">Release Notes</p>
              </a>
            </li>
          </ul>

      </div>
    </div>

  </header>
  <%= render '_footer' %>
  </body>
</html>
